<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Alexandra Scharpf">
    <meta name="keywords" content="Carnegie Mellon University SURA Project">
    <meta name="description" content="SURA Physics GUIs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title id="title">Gaussian Model</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/templateModels.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    <script defer src="../static/script.js"></script>
</head>
<body onload>
    <h1 class="title">Gaussian Model</h1>
    <div class="containers">
        <nav class="nav">  
            <div>
                <a href="../index.html" class="active">Home</a> 
                <a href="Rosenthal.html" class="active">Rosenthal Model</a> 
            </div>
        </nav>
        <div class="sections"> 
            <h4>Plot Scale</h4>
            <label>Domain (m): <input type="text"></label>
            <label>Range (m): <input type="text"></label>
            <h4>Parameters</h4>
            <label>Preheat Temperature (K): <input type="text"></label>
            <label>Apparent Power (W): <input type="text"></label>
            <label>Velocity (m/s): <input type="text"></label>
            <h4>Materials</h4>
            <h6>316L Ti-GAl-4V In 718 AllOSiMg</h6>
            <label>Thermal Conductivity (W/(m*K)) <input type="text"></label>
            <label>Density (kg/m<sup>3</sup>) <input type="text"></label>
            <label>Specific Heat (J/(kg*K)) <input type="text"></label>
            <label>T<sub>melting</sub> (K) <input type="text"></label>
            <h4>Measurements</h4>
            <label>Melt Pool Depth (m) <input type="text"></label>
            <label>Melt Pool Width (m)<input type="text"></label>
        </div> 
        <div class="model">
            <h4>Model Will Go On This Side</h4>
        </div>
    </div>
</body>
</html>